@charset "utf-8";
 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
.main {
	background-color: #FCE8B9;
}

.top_menu {
	background-color: #FDC944;
	border: thin solid #2D440F;
	border-radius: 5px;
 	overflow: hidden;
}

.top_menu_item {
	font-family: architects-daughter;
	font-style: normal;
	font-weight: 400;
	font-size: xx-large;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
	
}

.top_menu_item:hover{
	color:#D54D1D;
}
.div_content {
	border-style: solid;
	text-align: left;
	padding: 0px 20px 20px 20px;
	border-radius: 10px;
	background-color: #C7A97D;
	border-width: thin;
	margin-right: 20px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-top: 30px;
}

h2{
	font-family: architects-daughter;

}
